select {
  border: 1px solid #DDDDDD;
  padding: 5px 10px; }

.ToDoListApp {
  background: #eee;
  width: 100%;
  height: 100vh; }
  .ToDoListApp__to-do {
    margin: 10px;
    outline: 10px solid #eee;
    border: 1px solid #DDDDDD; }
  .ToDoListApp__form {
    margin: 10px; }
  .ToDoListApp__header {
    padding: 15px 20px;
    background: #eee; }
  .ToDoListApp .form {
    border: 1px solid #DDDDDD;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .ToDoListApp .form input {
      width: 100%;
      padding: 10px 20px;
      border: 1px solid #DDDDDD; }
    .ToDoListApp .form select {
      width: 100%;
      padding: 9px 5px; }
    .ToDoListApp .form button {
      flex: 2;
      padding: 10px 20px;
      border: 1px solid #DDDDDD;
      background: #fff;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
      .ToDoListApp .form button:hover {
        cursor: pointer;
        background: #DDDDDD; }
    .ToDoListApp .form__input {
      flex: 2;
      position: relative;
      height: 30px;
      color: #fff;
      font-size: .8rem; }
      .ToDoListApp .form__input--name {
        flex: 10; }
    .ToDoListApp .form__info {
      position: absolute;
      display: none;
      background: white;
      padding: 10px;
      background: #c20000;
      -webkit-animation: fadeIn .5s;
      -o-animation: fadeIn .5s;
      animation: fadeIn .5s;
      z-index: 10; }
      .ToDoListApp .form__info::before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 10px solid #c20000;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px; }
  .ToDoListApp .to-do__row {
    width: 100%;
    display: flex;
    background: #fff;
    align-items: baseline; }
    .ToDoListApp .to-do__row--header {
      background: #494430;
      color: #fff; }
      .ToDoListApp .to-do__row--header .to-do__col {
        position: relative; }
        .ToDoListApp .to-do__row--header .to-do__col:hover {
          cursor: pointer; }
        .ToDoListApp .to-do__row--header .to-do__col--remove:hover {
          cursor: default; }
        .ToDoListApp .to-do__row--header .to-do__col .fa-sort-down, .ToDoListApp .to-do__row--header .to-do__col .fa-sort-up {
          opacity: 0;
          position: absolute;
          left: 5px;
          top: 35%;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -ms-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s; }
    .ToDoListApp .to-do__row--list {
      flex-direction: column; }
      .ToDoListApp .to-do__row--list .task {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #DDDDDD; }
        .ToDoListApp .to-do__row--list .task i {
          opacity: 0;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          -ms-transition: all ease 0.5s;
          -o-transition: all ease 0.5s;
          transition: all ease 0.5s; }
        .ToDoListApp .to-do__row--list .task:hover i {
          opacity: 1;
          cursor: pointer; }
          .ToDoListApp .to-do__row--list .task:hover i:hover {
            color: #c20000; }
    .ToDoListApp .to-do__row--footer {
      justify-content: flex-end; }
  .ToDoListApp .to-do__col {
    padding: 15px 20px; }
    .ToDoListApp .to-do__col--name {
      flex: 10;
      width: 70%; }
    .ToDoListApp .to-do__col--priority {
      flex: 2;
      width: 12.5%; }
    .ToDoListApp .to-do__col--done {
      flex: 2;
      width: 12.5%; }
    .ToDoListApp .to-do__col--remove {
      flex: 1;
      max-width: 50px;
      width: 5%;
      text-align: center; }
  .ToDoListApp .to-do-footer__choose-rows label {
    margin-right: 5px; }
  .ToDoListApp .controls__arrow {
    padding: 0px 10px;
    color: #707070;
    font-size: 1.2rem; }
    .ToDoListApp .controls__arrow i {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    .ToDoListApp .controls__arrow:hover {
      cursor: pointer; }
    .ToDoListApp .controls__arrow--left:hover i {
      -webkit-transform: translateX(-2px);
      -moz-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
      -o-transform: translateX(-2px);
      transform: translateX(-2px); }
    .ToDoListApp .controls__arrow--right:hover i {
      -webkit-transform: translateX(2px);
      -moz-transform: translateX(2px);
      -ms-transform: translateX(2px);
      -o-transform: translateX(2px);
      transform: translateX(2px); }

.custom-checkbox {
  position: relative; }
  .custom-checkbox:hover {
    cursor: pointer; }
    .custom-checkbox:hover input ~ .custom-checkbox__checkmark {
      background-color: #eee; }
  .custom-checkbox input:checked ~ .custom-checkbox__checkmark {
    background: #F69F3A;
    border-color: #F69F3A; }
  .custom-checkbox input:checked ~ .custom-checkbox__checkmark:after {
    display: block; }
  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .custom-checkbox__checkmark {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
    border-radius: 2px; }
    .custom-checkbox__checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*# sourceMappingURL=App.css.map */
