$list-margin-size: 10px;
$list-outline-size: $list-margin-size;

$font-color: #707070;
$border-color: #DDDDDD;
$table-header-color: #494430;
$decoration-color: #F69F3A;

$delete-icon-hover-color: #c20000;

$task-col-width: 70%;
$remove-col-width: 5%;
$priority-col-width: (100% - $task-col-width - $remove-col-width)/2;
$done-col-width: $priority-col-width;

$col-padding: 15px 20px;

@mixin transition-ease($time) {
  -webkit-transition: all ease $time;
  -moz-transition: all ease $time;
  -ms-transition: all ease $time;
  -o-transition: all ease $time;
  transition: all ease $time;
}

@mixin transformX($x) {
  -webkit-transform: translateX($x);
  -moz-transform: translateX($x);
  -ms-transform: translateX($x);
  -o-transform: translateX($x);
  transform: translateX($x);
}

select {
  border: 1px solid $border-color;
  padding: 5px 10px;
}

.ToDoListApp {
  background: #eee;
  width: 100%;
  height: 100vh;
  &__to-do {
    margin: $list-margin-size;
    outline: $list-outline-size solid #eee;
    border: 1px solid $border-color;
  }
  &__form {
    margin: $list-margin-size;
  }
  &__header {
    padding: $col-padding;
    background: #eee;
  }
  .form {
    border: 1px solid $border-color;
    $padding: 10px 20px;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px;
    input {
      width: 100%;
      padding: $padding;
      border: 1px solid $border-color;
    }
    select {
      width: 100%;
      padding: 9px 5px;
    }
    button {
      flex: 2;
      padding: $padding;
      border: 1px solid $border-color;
      background: #fff;
      @include transition-ease(.5s);
      &:hover {
        cursor: pointer;
        background: $border-color;
      }
    }
    &__input {
      flex: 2;
      position: relative;
      height: 30px;
      color: #fff;
      font-size: .8rem;
      &--name {
        flex: 10;
      }
    }
    &__info {
      position: absolute;
      display: none;
      background: white;
      padding: 10px;
      background: $delete-icon-hover-color;
      -webkit-animation: fadeIn .5s;
      -o-animation: fadeIn .5s;
      animation: fadeIn .5s;
      z-index: 10;
      &::before {
        $size: 10px;
        content: '';
        width: 0;
        height: 0;
        border-bottom: $size solid $delete-icon-hover-color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        position: absolute;
        top: -$size
      }
    }

  }

  .to-do {
    &__row {
      width: 100%;
      display: flex;
      background: #fff;
      align-items: baseline;
      &--header {
        background: $table-header-color;
        color: #fff;
        .to-do__col {
          position: relative;
          &:hover {
            cursor: pointer;
          }
          &--remove {
            &:hover {
              cursor: default;
            }
          }
          .fa-sort-down, .fa-sort-up {
            opacity: 0;
            position: absolute;
            left: 5px;
            top: 35%;
            @include transition-ease(.5s);
          }
        }
      }
      &--list {
        flex-direction: column;
        .task {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid $border-color;
          i {
            opacity: 0;
            @include transition-ease(.5s);
          }
          &:hover {
            i {
              opacity: 1;
              cursor: pointer;
              &:hover {
                color: $delete-icon-hover-color;
              }
            }
          }
        }
      }
      &--footer {
        justify-content: flex-end;
      }
    }
    &__col {
      padding: $col-padding;
      &--name {
        flex: 10;
        width: $task-col-width;
      }
      &--priority {
        flex: 2;
        width: $priority-col-width;
      }
      &--done {
        flex: 2;
        width: $done-col-width;
      }
      &--remove {
        flex: 1;
        max-width: 50px;
        width: $remove-col-width;
        text-align: center;
      }
    }

  }
  .to-do-footer__choose-rows {
    label {
      margin-right: 5px;
    }
  }
  .controls {
    &__arrow {
      padding: 0px 10px;
      color: $font-color;
      font-size: 1.2rem;
      i {
        @include transition-ease(.5s);
      }
      &:hover {
        cursor: pointer;
      }
      &--left {
        &:hover {
          i {
            @include transformX(-2px);
          }
        }
      }
      &--right {
        &:hover {
          i {
            @include transformX(2px);
          }
        }
      }
    }
  }
}

.custom-checkbox {
  $size: 20px;
  position: relative;
  &:hover {
    cursor: pointer;
    input ~ .custom-checkbox__checkmark {
      background-color: #eee;
    }
  }
  input:checked ~ .custom-checkbox__checkmark {
    background: $decoration-color;
    border-color: $decoration-color;
  }
  input:checked ~ .custom-checkbox__checkmark:after {
    display: block;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &__checkmark {
    position: absolute;
    left: 0;
    width: $size;
    height: $size;
    border: 1px solid #eee;
    border-radius: 2px;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}